[*.cs]

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = warning

# CS0219: Variable is assigned but its value is never used
dotnet_diagnostic.CS0219.severity = none
